/*   .header.link {
    transition: all 300ms;
  } */


  .header-link:hover, .header-link:active {
    animation: underlineAnimation 1s forwards ease;
  }

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  background-color: #00bfa5;
  color: #FFFFFF;
  text-align: center;
  max-height: 7vh;
  background-color: #00bfa5;
}


nav ul {
  margin-right: 5vw;
  display: flex;
  flex: 1 1 50rem;  /* separar en 2 columnas el logo y el menu */
  /* centrar li */
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin-right: 2rem;
}

nav ul li a {
  color: white;
  font-family: 'Paytone One', sans-serif;
}

.navbar {
    background-color: #00bfa5;
    text-align: center;
}

#logo {
  flex: 1 1 20rem;
  font-family: 'Paytone One', sans-serif;
  color: white;
  font-size: 3.3vh;
  font-weight: 600;
  text-align: left;
  margin-left: 5vw;
  cursor: pointer;
}

.active-link {
  border: 3px solid white;
    border-radius: 0.5rem;
}
#logo:hover {
  border: none;
  text-decoration: none;
}

@keyframes underlineAnimation {
  from {
    border: 3px solid transparent;
    border-radius: 0px;
  } to {
    border: 3px solid white;
    border-radius: 0.5rem;
  }
}


@media screen and (max-width: 932px) {
  nav {
    text-align: center;
  }

 #logo {
   flex: none;
 }
 .active-link {
   border: none;
   border-bottom: 3px solid white;
   border-radius: 0px;
 }

}