<app-coach-menu></app-coach-menu>

<section>
    <div id="profile">
        <i class="fa fa-user-circle" id="user"></i>
    </div>
</section>
<div >
    <p id="profile-list">Perfil</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tipo usuario <p id="info">Coach</p></li>
        <li class="list-group-item">Nombre <p id="info">Alejandro</p></li>
        <li class="list-group-item">Apellido<p id="info">Manzanares</p></li>
        <li class="list-group-item">Mail<p id="info">alex@mail.com</p></li>
        <li class="list-group-item">Telefono<p id="info">333-666-999</p></li>
    </ul>
</div>


<app-green-footer></app-green-footer>