


section {
    background-color: whitesmoke;
}
#profile{
    font-size: 100px;
    text-align: center;
    color: #00BFA5;
}

#profile-list{
    color:rgb(75, 75, 75);
    padding: 0%;
    padding-left: 5%;
    margin-top: 3%;
}
ul, div{
    margin: 0;
    padding:0
}
.fas{
    color: red;
    position: absolute;
    right: 5%;
}

.list-group-item{
    position: relative;
}
#info{
    display: inline; 
    position: absolute; 
    right: 5%;
    color: grey;
}