footer {
    padding-top: 0.4%;
    height: 7vh;
    position: absolute bottom;
    width: 100%;
    margin-bottom: 0;
    font-size: 3.3vh;
    font-weight: 600;
    text-align: center;
    background-color: #00bfa5;
    color: white;
    text-shadow: 2px;
    padding-bottom: 0;
}