.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: x-large;
}

section {
    padding: 5%;
}
input#url::placeholder {
    color: white;
}
#profile {
    background-color: #00BFA5;
    font-size: 100px;
    text-align: center;
    color: white;
}
#profile-list {
    color: rgb(75, 75, 75);
    padding: 0%;
    padding-left: 5%;
    margin-top: 3%;
}
ul,
div#div {
    margin: 0;
    padding: 0
}
.fas {
    color: red;
    position: absolute;
    right: 5%;
}
.list-group-item {
    position: relative;
}
#info {
    display: inline;
    position: absolute;
    right: 5%;
    color: grey;
}
.buttonR {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    color: #FFFFFF;
}
#card-bg2{
    border: none;
    background-color: #00BFA5;
    color: white;
}
.card{
    border: #00BFA5;
    max-width: 50rem;
    margin: auto;
}

.card-footer, #date{
    background-color: #00BFA5;
    color: white;
    position: relative;
}


@media(min-width:787px) {
    .list-group {
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
    }
}