/* You can add global styles to this file, and also import other style files */

body {
    position: relative;
    /* background-color: rgb(213, 213, 213); */
    background-color: #E0F2F1;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
#container{
    padding-bottom: 6vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fa-trash-alt {
    cursor:pointer;
}

.fa-edit {
    cursor:pointer;
}

.fa-eye {
    cursor:pointer;
}
