/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    position: absolute;
    background-color: #E0F2F1;
    padding-top: 7vh;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
}

.fa-trash-alt {
    cursor:pointer;
}

.fa-edit {
    cursor:pointer;
}

.fa-eye {
    cursor:pointer;
}
