<section id="entrenamientos">
    <div class="header row">
        <h2 class="col-12">Próximos entrenamientos</h2>
    </div >
    <mat-card class="example-card d-flex align-content-center flex-wrap mx-auto pb-4">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Martes 15 marzo</mat-card-title>
            <mat-card-subtitle>18.00</mat-card-subtitle>
        </mat-card-header>
        <i class="fas fa-tshirt"></i>
        <mat-card-content>
            <p>
                Polideportivo Sanchinarro - pista 5
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card d-flex align-content-center flex-wrap mx-auto pb-4">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Martes 15 marzo</mat-card-title>
            <mat-card-subtitle>18.00</mat-card-subtitle>
        </mat-card-header>
        <i class="fas fa-tshirt"></i>
        <mat-card-content>
            <p>
                Polideportivo Sanchinarro - pista 5
            </p>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card d-flex align-content-center flex-wrap mx-auto pb-4">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Martes 15 marzo</mat-card-title>
            <mat-card-subtitle>18.00</mat-card-subtitle>
        </mat-card-header>
        <i class="fas fa-tshirt"></i>
        <mat-card-content>
            <p>
                Polideportivo Sanchinarro - pista 5
            </p>
        </mat-card-content>
    </mat-card>

</section>