
*{
    font-size: 1.5vw;
}
section{
    position: relative;
    padding: 3%;
}


.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.card{
    border: #00BFA5;
    max-width: 50rem;
    margin: auto;
}

.card-footer, #date{
    background-color: #00BFA5;
    color: white;

    position: relative;
}
#dropdown{
    border-radius: 30px;
    border:none;
    color: white;
    background: none
}
#shirt{
    position: absolute;
    top: 20%;
    right: 5%;
    color: white;
}

.fa-trophy {
    position: absolute;
    top: 20%;
    right: 5%;
    color: white;
}

#new-ex{
    max-width: 50%;
    margin: auto;
 }
#card-bg2{
    border: none;
    background-color: #00BFA5;
    color: white;
}

@media(max-width: 769px){
    *{
        font-size: 4vw;
    }
    h2 {
        font-size: 5vw; 
    }
}
@media(min-width: 769px){
    section{
        display: flex;
    }
    .card{
        margin: 1%
    }
    .header {
        margin-top: 5%;
    margin-bottom: 5%;
    }
}