section {
    height: 80vh;
}

.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: x-large;
}

label {
    color: #00BFA5;
}

input {
    border:none;
}

.card {
    border: #00BFA5;
    width: 300px;
    margin: auto;
}

.playerInfo{
    width: 300px;
}

.card-footer,
#date {
    background-color: #00BFA5;
    color: white;
    position: relative;
}

#edit {
    position: absolute;
    top: 20%;
    right: 10%;
}

#trash {
    position: absolute;
    top: 20%;
    right: 5%;
    color: grey
}

#ver {
    color: white;
    position: absolute;
    top: 20%;
    right: 3%;
    border: solid;
    border-color: white;
}


.new {
    background-color: #00bfa5;
    border: #00bfa5;
    width: 20vw;
    color: white;
    margin-left: 45vw;
    margin-top: 10vh;
}
.newT {
    background-color: #00bfa5;
    border: #00bfa5;
    width: 20vw;
    color: white;
   margin: auto;
    margin-top: 5vh;
}

.team {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
}



@media (max-width: 576px) {
    section {
        padding-bottom: 10%;
        margin-top: 20px;
    }
     body {
         width: 100vw;
         margin: 0;
     }

    * {
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        color: gray
    }

    .header {
        margin-top: 0;
    }
   
    #trash{
        position: absolute;
        top: 10%;
        right: 5%;
        color: white;
        font-size: medium;
    }

    .newT {
        width: 60vw;
        margin-left: 20vw;
    }

    .new {
        width: 60vw;
        margin-left: 20vw;
    }

    .modalB {
        height: 10vh;
    }

} 
