* {
    font-size: medium;
}

.lyrics {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    color: #FFFFFF;
}

.bodym {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.navbar {
    background-color: #00BFA5;
    text-align: center;
}

#whiteLink {
    color: white;
}


/* .mat-icon {
    font-size: 25px;
 }

.header {
    color: white;
}

#toolbarMenu, .toolbar-icon {
    color: white;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-spacer {
    margin-left:40%;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

#sidenavContainer {
    margin-top: 64px;
}

#sidenav {
    width: 240px;
}

#sidenav.menu-close {
    width: 70px
}

#sidenav.menu-open {
    width: 240px
}

#sidenav .avatar {
    background-image: url('http://i.pravatar.cc/300');
    background-size: cover;
}

#sidenav .mat-list-item-content {
    padding: 0;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
}

#sidenav .menu-item:hover {
  background: #eee;
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
    margin-left: 12px;
}

.dash-list h3 {
    padding: 12px;
}
 */