* {
    font-size: medium;
}

a:hover,
a:active {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 4px 0;
}

.active-link {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 4px 0;
}

.lyrics {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    color: #FFFFFF;
}

.bodym {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.navbar {
    background-color: #00BFA5;
    text-align: center;
}

#whiteLink {
    color: white;
}