<header class="lyrics">
    <nav class="navbar fixed-top navbar-expand-lg flex-colum flex-md-row navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" id="whiteLink" routerLink="/home">Home 
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="whiteLink" routerLink="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/home">About Us</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand text-white ml-md-auto brand" id="whiteLink" routerLink="/home">Sportify</a>
    </nav>
</header>