.lyrics {
    background-color: #00bfa5;
    font-family: ‘Roboto’, sans-serif;
    color: black;
    text-align: center;
}

.navbar {
    background-color: #00bfa5;
    text-align: center;
}

#whiteLink {
    color: white;
} 

.brand {
    font-size: 3vh;
    font-weight: 600;
    text-shadow: 2px;
}
