
/* Global Styles */
// Variables Sass
$myColor: #00bfa5;
$darker: #0c534a;
$small: 1rem;
$medium: 1.8rem;
$colorin: white;
$color: grey;

 section {
      color: $color;
      padding-top: 7vh;
  }

  h1, p, input, label, button {
    font-size: 1rem;
  }
  h2 {
      font-size: 2rem;
  }

  a {
    color: $myColor;
  }
  a:hover {
     color: $darker;
  }

  button {
    padding: 2rem 6rem;
    background: $myColor;
    border: none;
    color: $color;
    font-size: $medium;
    cursor: pointer;
    font-size: $small;
    border-radius: 0.5rem;
  }

  //my teams

  #myteams {
        position: relative;
        min-height: 93vh;
        background: linear-gradient($myColor, #e6f8f6);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
 

