
/* Global Styles */
// Variables Sass
$myColor: #00bfa5;
$darker: #0c534a;
$small: 1rem;
$medium: 1.8rem;
$colorin: white;
$color: grey;

 section {
      background: linear-gradient($myColor, #e6f8f6);
      padding-top: 15vh;
      min-height: 93vh;
      color: $color;
      padding-bottom: 80px;
  }

  h1, p, input, label, button {
    font-size: 1rem;
  }
  h2 {
      font-size: 2rem;
  }

  a {
    color: $myColor;
  }
  a:hover {
     color: $darker;
  }

  button {
    // padding: 2rem 6rem;
    padding: 2rem 2rem;
    background: $myColor;
    // border: none;
    // color: $color;
    // font-size: $medium;
    // cursor: pointer;
    // font-size: $small;
    // border-radius: 0.5rem;
  }

  .flex {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .header {
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    color: white;
    text-align: center;
    padding: 2px;

    h2 {
      margin-top: 5px;
    }

    #avatar {
      position: absolute;
      top: 10%;
      right: 5%;
      background: white;
      border-radius: 50%;
    }


  }





  @media screen and (min-width: 932px) {

  }
  
 
