
/* Global Styles */
// Variables Sass
$myColor: #00bfa5;
$darker: #0c534a;
$small: 1rem;
$medium: 1.8rem;
$colorin: white;
$color: grey;

 section {
      background: linear-gradient($myColor, #e6f8f6);
      height: 93vh;
      color: $color;
      padding-top: 7vh;
      padding-bottom: 80px;
  }

  h1, p, input, label, button {
    font-size: 1rem;
  }
  h2 {
      font-size: 2rem;
  }

  a {
    color: $myColor;
  }
  a:hover {
     color: $darker;
  }

  button {
    // padding: 2rem 6rem;
    padding: 2rem 2rem;
    background: $myColor;
    // border: none;
    // color: $color;
    // font-size: $medium;
    // cursor: pointer;
    // font-size: $small;
    // border-radius: 0.5rem;
  }

  .flex {
      display: flex;
      justify-content: center;
      align-items: center;
  }
 
