<app-coach-menu></app-coach-menu>


<section id="myTeams">
    <div class="header">
        <h1 class="header-title">Mis equipos</h1>
        <a routerLink="/coach/settings">
            <img src="../../../../assets/menus/avataaars.svg" alt="avatar" id="avatar">
        </a>
    </div>
    <div>
        <div class="cards-container">
            <div *ngFor="let team of dataBase; let i = index" id="team-card">
                <div class="delete">
                    <img src="../../../../assets/pages/close.svg" alt="" id="delete" (click)="deleteTeam(dataBase[i].team_id)">
                </div>
                <div class="team-info">
                    <h1 (click)="getTeam(dataBase[i])" data-toggle="modal"
                    data-target="#putTeam">
                        {{team.name | uppercase}}
                    </h1>
                    <h2>
                        {{team.category}}
                    </h2>
                </div>
                <div class="div-links">
                    <div class="links">
                        <div class="link">
                            <a (click)="saveTeam(dataBase[i].team_id, dataBase[i].name)"
                            routerLink="/coach/myPlayers">
                                 <img src="../../../../assets/pages/myteams/myplayers.svg" alt="myplayers">
                            </a>
                        </div>
                        <div class="link">
                            <a (click)="saveTeam(dataBase[i].team_id, dataBase[i].name)"
                            routerLink="/coach/myWorkouts">
                                <img src="../../../../assets/pages/myteams/mytrainings.svg" alt="mytrainings">
                            </a>
                        </div>
                        <div class="link">
                            <a (click)="saveTeam(dataBase[i].team_id, dataBase[i].name)"
                            routerLink="/coach/myGames">
                                <img src="../../../../assets/pages/myteams/mygames.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="links-text">
                        <p>Jugadores</p>
                        <p>Entrenos</p>
                        <p>Partidos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newTeam">
        <button data-toggle="modal" data-target="#exampleModalCenter">
            Nuevo equipo
        </button>
    </div>
    <!-- Modal post ejercicio -->
    <div class="modal fade border-0" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog border-0" role="document">
            <div class="modal-content border-0" id="modalNew"  >
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                       <img src="../../../../assets/modals/close.svg" alt="close-modal" >
                    </button>
                </div>
                <div class="modal-body border-0" id="modal-body">
                    <div class="card mb-1 border-0">
                        <div class="card-header bg-transparent border-0">
                            <label for="name">Nombre de equipo</label><br>
                            <input type="text" #name placeholder="ej: Real Madrid" maxlength="15" >
                        </div>
                        <div class="card-header bg-transparent border-0">
                            <label for="category">Categoría</label><br>
                            <input #category class="card-text" placeholder="ej: Alevines">
                        </div>

                    </div>
                </div>
                <div class="modal-footer border-0 ">
                    <button data-dismiss="modal" aria-label="Close" class="btnModal"
                        (click)="addTeams( name,category)">Añadir equipo</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  put team -->
    <div class="modal fade" id="putTeam" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content border-0">
                <div class="modal-content border-0" id="modalNew">
                    <div class="modal-header border-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                           <img src="../../../../assets/modals/close.svg" alt="close-modal" >
                        </button>
                    </div>
                <div class="modal-body border-0">
                    <div class="card mb-1 border-0">
                        <div class="card-header bg-transparent border-0">
                            <label for="name">Nombre de equipo</label><br>
                            <input type="text" #name1 placeholder="{{team1.name}}">
                        </div>
                        <div class="card-body border-0">
                            <label for="category">Categoría</label><br>
                            <input #category1 class="card-text" placeholder="{{team1.category}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button data-dismiss="modal" aria-label="Close" class="btnModal" 
                        (click)="UpdateTeam( name1,category1)">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<app-green-footer></app-green-footer>