<header class="lyrics">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" id="whiteLink" routerLink="/coach/myTeams">Mis equipos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/coach/myWorkouts">Entrenamientos y partidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/coach/settings">Ajustes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/player/myCalendar">Cambio de usuario</a>
                </li>
            </ul>

        </div>
    </nav>
</header>


<!-- 
<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon
    (click)="onToolbarMenuToggle()"
    id="toolbarMenu">menu</mat-icon>
  <h1 class="header">Mis equipos</h1>
  <span class="toolbar-spacer"></span>
  <mat-icon
    class="toolbar-icon">
  notifications</mat-icon>
</mat-toolbar>

<mat-sidenav-container
  id="sidenavContainer"
 fullscreen>
  <mat-sidenav
    mode="side"
    #sidenav
    id="sidenav"
    [class.menu-open]="isMenuOpen"
    [class.menu-close]="!isMenuOpen"
    opened>
    
    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div 
            mat-card-avatar 
            class="avatar"></div>

          <mat-card-title>John Doe</mat-card-title>
          <mat-card-subtitle>Internal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list-item>
        <button 
        class="menu-item"
          mat-flat-button>
          <mat-icon>dashboard</mat-icon>
        Dashboard</button>
      </mat-list-item>

      <mat-list-item>
          <button 
          class="menu-item"
            mat-flat-button>
            <mat-icon>work</mat-icon>
          Project</button>
        </mat-list-item>

        <mat-list-item>
            <button 
            class="menu-item"
              mat-flat-button>
              <mat-icon>settings_application</mat-icon>
            Settings</button>
          </mat-list-item>

    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content></mat-sidenav-content>

</mat-sidenav-container>

 -->