* {
    font-size: medium;
}

.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: x-large;
}

section {
    min-height: 850px;
}

input {
    border: none;
    background: transparent;
    width: 100%;
}

input#url::placeholder {
    color: white;
}

.card {
    display: inline-block;
    border: #00BFA5;
    width: 300px;
    margin: 3%;
}

#training-card {
    padding: 2%;
    width: 100%;
}

.card-footer,
#date {
    background-color: #00BFA5;
    color: white;
    position: relative;
}

.newT {
    text-align: center;
    background-color: #00bfa5;
    border: #00bfa5;
    width: 300px;
    color: white;
    margin: auto;
    margin-top: 5vh;
}

#dropdown {
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #00bfa5;
}

.fa-trash-alt {
    color: white;
    position: absolute;
    top: 20%;
    right: 4%;
    z-index: 1;
    cursor: pointer;
}

.fa-edit {
    color: white;
    position: absolute;
    top: 20%;
    right: 10%;
    z-index: 1;
    cursor: pointer;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: gray;
}

#new-ex {
    max-width: 50%;
    margin: auto;
}

#card-bg2 {
    border: none;
    background-color: #00BFA5;
    color: white;
}

.cardModal {
    background-color: white;
}

@media(max-width: 576px) {
    * {
        font-size: small;
    }
    #training-card {
        padding: 3%;
    }
}