<app-coach-menu></app-coach-menu>

<section id="training-card">
    <div *ngFor="let ex of dataBase; let i = index" class="card mb-3">
        <div class="card-header" id="date">
            Tipo: 
            {{ex.type}}
            <i class='far fa-trash-alt' id="trash" (click)="deleteEx(dataBase[i].exercise_id)"></i>
        </div>
        <div class="card-header bg-transparent">
            {{ex.name}}
        </div>
        <div class="card-body">
          <p class="card-text">{{ex.description}}</p>
        </div>
        <div class="card-footer">
            <a href="{{ex.url}}">Ver video</a>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header" id="date">
            Tipo: 
            <select #type id="cars" name="cars" id="dropdown">
                <option *ngFor="let option of options" value = "{{option.value}}">{{option.name}}</option>
            </select>
            <i class='far fa-trash-alt' id="trash"></i>
        </div>
        <div class="card-header bg-transparent">
            <input type="text" #name placeholder="Titulo del ejercicio">
        </div>
        <div class="card-body">
            <input #description class="card-text" placeholder="Describe el ejercicio">
        </div>
        <div class="card-footer">
            <input type="text" #url placeholder="Añade una url si la tienes">
        </div>
    </div>
</section>
<div class="card mb-3" id="new-ex">
    <button (click)="postEx(type, description, url, name)" class="btn" id="card-bg2">
        Nuevo ejercicio
    </button>
</div>

<app-green-footer></app-green-footer>