<app-landing-menu></app-landing-menu>



<div class="bg-light lyrics">
    <div class="white"></div>
    <div class="container text-center register">
        <form class="row formulario">
            <div class="col-md-12 order-md-1 mb-3">
               <h2><strong>REGISTRO</strong></h2> 
                <div>
                    <div class="col-12 order-md-1">
                        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="text-left">
                            <div class="mb-1 form-group">
                                <label for="type">Tipo de usuario <span class="text-muted"></span></label>
                                <br>
                                <select class="form-control" id="dropdown" #rol="ngModel" [(ngModel)]="user.rol"
                                    required name="rol">
                                    <option disabled selected>Selecciona uno</option>
                                    <option #rol="ngModel" [(ngModel)]="user.rol" value="coach">Entrenador</option>
                                    <option #rol="ngModel" [(ngModel)]="user.rol" value="player">Jugador</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-1">
                                    <label for="firstName">Nombre</label>
                                    <input type="text" class="form-control" id="firstName" placeholder="Nombre"
                                        #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+"
                                        name="name">
                                    <span *ngIf="name.touched && name.invalid" class="wrong">
                                        <div *ngIf="phone.errors.required">El nombre es obligatorio</div>
                                    </span>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <label for="lastName">Apellidos</label>
                                    <input type="text" class="form-control" id="lastName" placeholder="Apellidos"
                                        #lastName="ngModel" [(ngModel)]="user.lastName" required pattern="[a-zA-Z]+"
                                        name="lastName">
                                    <span *ngIf="lastName.touched && !lastName.valid" class="wrong">
                                        El apellido es obligatorio
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label for="telephone">Teléfono</label>
                                <input type="tel" class="form-control" id="telephone" placeholder="Teléfono"
                                    #phone="ngModel" [(ngModel)]="user.phone" required name="phone" minlength="9">
                                <div *ngIf="phone.touched && phone.invalid" class="wrong">
                                    <div *ngIf="phone.errors.required">Debe insertar un telefono</div>
                                    <div *ngIf="phone.errors.minlength">Su teléfono debe tener almenos 9 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-1">
                                <label for="email">Email <span class="text-muted"></span></label>
                                <input type="email" class="form-control" id="Email" placeholder="you@example.com"
                                    #email="ngModel" [(ngModel)]="user.email" required name="email"
                                    [ngClass]="{'is-invalid': registerForm.submitted && email.invalid}">
                                <div *ngIf="email.touched && email.invalid" class="wrong">
                                    <div *ngIf="email.errors.required">Debe insertar un email</div>
                                </div>
                            </div>  
                            </div>
                            
                            <div class="mb-1">
                                <label for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" placeholder="Contraseña"
                                    #password="ngModel" [(ngModel)]="user.password" required name="password"
                                    minlength="6">
                                <div *ngIf="password.touched && password.invalid" class="wrong">
                                    <div *ngIf="password.errors.required">Debe insertar una contraseña</div>
                                    <div *ngIf="password.errors.minlength">Su contraseña debe tener almenos 6 caracteres
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <label for="password2">Confirmar contraseña</label>
                                <input type="password" class="form-control" id="password2" placeholder="Contraseña"
                                    #password2="ngModel" [(ngModel)]="user.password2" ngValidateEqual="password"
                                    name="password2"
                                    [ngClass]="{'wrong': (password2.dirty || password2.touched) && password2.invalid}"
                                    required>
                                <div *ngIf="password2.hasError('notEqual') && password.valid" class="wrong">Las
                                    contraseñas
                                    deben ser iguales</div>

                            </div>
                            <div style="text-align: center;">
                                <button type="submit" [disabled]="!registerForm.valid" class="btn mt-3">Registrarme</button>
                            </div>
                            <div class="form-group mt-1">
                                <div class="col-sm-12 text-center">
                                    <p>¿Ya tienes una cuenta? <a routerLink="/login" class="text m-l-5">Sign In</a> </p>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </form>

    </div>
<app-green-footer></app-green-footer>
</div>


