<app-coach-menu></app-coach-menu>

<section id="training-card">
    <div class="card mb-3">
        <div class="card-header" id="date">
            Fecha
            <i class="far fa-edit" id="edit" routerLink="/coach/myExercises"></i>
            <i class='far fa-trash-alt' id="trash"></i>
        </div>
        <div class="card-header bg-transparent">
            Titulo entreno
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer">
            Lugar
        </div>
    </div>


    <div class="card mb-3" >
        <div class="card-header" id="date">
            Fecha
            <i class="far fa-edit" id="edit" routerLink="/coach/myExercises"></i>
            <i class='far fa-trash-alt' id="trash"></i>
        </div>
        <div class="card-header" id="title">Card title</div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer">Footer</div>
    </div>
</section>

<div class="btn-down">
    <i class="material-icons">add_circle</i>
</div>




<app-green-footer></app-green-footer>