<app-landing-menu></app-landing-menu>

<section id="contact">
    <div class="form-wrapper">
        <header class="form-head">
            <img src="../../../assets/login/avatar.svg" class="mobil">
        </header>
        <form>
            <div class="email-form">
                <label for="email">Email:</label>
                <div class="input-div">
                    <i class="fas fa-user"></i>
                    <input id="email" #email type="email" id="inputEmail" class="form-control " required autofocus
                        value="{{emailsaved}}" />
                </div>

            </div>
            <div class="password-form">
                <label for="password">Contraseña:</label>
                <div class="input-div">
                    <i class="fas fa-lock"></i>
                    <input id="password" #password type="password" id="inputPassword" class="form-control " required />
                </div>

            </div>
            <div class="remember-form" required>
                <label for="checkbox">
                   <input type="checkbox" [(ngModel)]="rememberme.checked" [ngModelOptions]="{standalone: true}" id="checkbox"> Recordarme
                     
                </label>
               
            </div>
            <button class="btn" type="button" class="btn buttonR"
                (click)="logIn(email.value, password.value)">Ingresar</button>
            <div class="register">
                <p>¿No tienes cuenta? </p><a routerLink="/register"> Regístrate</a>
            </div>
        </form>
    </div>
</section>