<app-coach-menu></app-coach-menu>
<section>
    <div class="header row">
        <h2 class="col-12 header">
            <i class="fas fa-chevron-left" routerLink="/coach/myTeams"></i> Torneos
        </h2>
    </div>

    <!--modal inscribete-->
    <div class="modal fade" id="newTournament" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Inscribirse en un Torneo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <select #tournament>
                        <option *ngFor="let item of allTournaments" value="{{item.tournament_id}}">{{item.name}}</option>
                    </select>
             
                    <select #team>
                        <option *ngFor="let item of teams" value="{{item.team_id}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" aria-label="Close" class="btn new" id="card-bg2" (click)="subscribeTournament(team, tournament)">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- section my tournament -->
    <div id="training-card">
        <div class="card-color d-flex align-content-center flex-wrap mx-auto pb-4 playerInfo">
            <div class="card mt-4 mb-1 pb-1" *ngFor="let torneo of tournaments">
                <div class="card-header" id="date">
                    {{torneo.date | date}}
                </div>
                <div class="card-body bg-transparent">
                    {{torneo.name}}
                </div>
                <div class="card-body bg-transparent">
                    {{torneo.sport}}
                </div>
                <div class="card-body bg-transparent">
                    {{torneo.category}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{torneo.description}}</p>
                </div>
                <div class="card-footer">
                    {{torneo.location}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn newT" data-toggle="modal" data-target="#newTournament">
        Inscríbete
    </button>
    </div>
</section>


<app-green-footer></app-green-footer>