#train-card {
    color: white;
    font-weight: bold;
    width: 350px;
    height: 235px;
    background: green;
    background-position: center;
    background-size: cover;
    .t-info {
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;  
    }

     #name {
            font-size: 32px;
        }
    
    #location {
        position: relative;
        left: 100px;
    }

}

.soccer {
    background-image: url(../../../../assets/pages/tournaments/codenotch.jpg);
}

.basket {
    background-image: url(../../../../assets/pages/mytrainings.png);
}