<app-coach-menu></app-coach-menu>
<!-- put workouts -->

<div class="header row">
    <h2 class="col-12 header">Mis entrenamientos</h2>
</div>
<div class="modal fade" id="postTraining" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crea tu nuevo ejercicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <div class="card mb-3">
                    <div class="card-header" id="date">
                        <input type="text" id="url" #name placeholder="nombre">
                    </div>
                    <div class="card-header bg-transparent">
                        <input type="date" #date placeholder="añade fecha">
                    </div>
                    <div class="card-body">
                        <input #location class="card-text" placeholder="location">
                    </div>
                    <div class="card-footer">
                        <input type="text" id="url" #description placeholder="description">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button class="btn" id="card-bg2" (click)="addTraining(name, date, location, description)" data-dismiss="modal" aria-label="Close">Crear</button>
            </div>
        </div>
    </div>
</div>






<section id="training-card">
    <div class="card-color d-flex align-content-center flex-wrap mx-auto pb-4">
        <div class="card mr-4 ml-5 mt-4 mb-1 p-1 pb-1" *ngFor="let game of dataBase;">
            <div class="card-header" id="date">
                {{game.date | date}}
                <i class="far fa-edit" id="edit" routerLink="/coach/myExercises"></i>
                <i class='far fa-trash-alt' id="trash"></i>
            </div>
            <div class="card-header bg-transparent">
                {{game.name}}
            </div>
            <div class="card-body">
                <p class="card-text">{{game.description}}</p>
            </div>
            <div class="card-footer">
                {{game.location}}
                <a class="badge badge-pill text-right" routerLink="/coach/myExercises">Ver</a>
            </div>
        </div>
    </div>
</section>


<div class="btn-down">
    <i class="material-icons" data-toggle="modal" data-target="#postTraining">add_circle</i>
</div>

<app-green-footer></app-green-footer>