section {
    height: 80vh;
}
.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: x-large;
}

.card{
    border: #00BFA5;
    max-width: 50rem;
    min-width: 25rem;
    margin: auto;
}

.card-footer, #date{
    background-color: #00BFA5;
    color: white;

    position: relative;
}
#edit{
    position: absolute;
    top: 25%;
    right: 10%;
}
#trash {
    color: white;
    position: absolute;
    top: 25%;
    right: 4%;
    z-index: 1;
}

.btn-down{
    position: relative;
    margin: auto;
    padding: 12px;
}
.btn-down .material-icons{
    position: fixed;
    bottom: 10%;
    right: 15px;
    font-size: 5vw;
    color: #00BFA5;
    border-radius: 100%;
    background-color: whitesmoke;
}

.team {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
}

/* desde aqui  */
.playerInfo{
    width: 300px;
}
.new {
    background-color: #00bfa5;
    border: #00bfa5;
    width: 20vw;
    color: white;
    margin-left: 45vw;
    margin-top: 10vh;
}

.newJ {
    background-color: #00bfa5;
    border: #00bfa5;
    width: 20vw;
    color: white;
    margin: auto;
    margin-top: 5vh;
}

.new:active, .new:hover {
    background-color: #126e62;
    border: #126e62;
}

.modal-title {
    margin: auto;
    color: #00bfa5;
    font-size: medium;
}

.card-header, .card {
    border-color: transparent;
}



.card-footer, .card-header {
    background-color: #00bfa5;
    max-width: 100%;
    padding-top: 20px;
    color: white;
    font-weight: bold;
}

.close {
    color:  #00bfa5;
    font-weight: bold;
    position: absolute;
    top: 2%;
    right: 3%;
    z-index: 1;
}

.fa-trash-alt {
    color: white;
    position: absolute;
    top: 12%;
    right: 4%;
    z-index: 1;
}

.newT {
    background-color: #00bfa5;
    border: #00bfa5;
    width: 20vw;
    color: white;
    margin-left: 15vw;
    margin-top: 5vh;
}


@media (max-width: 576px) {
    section {
        padding-bottom: 10%;
        margin-top: 20px;
    }
     body {
         width: 100vw;
         margin: 0;
     }

    * {
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        line-height: 1.5;
        color: gray
    }

    .header {
        margin-top: 0;
    }
   
    #trash{
        position: absolute;
        top: 10%;
        right: 5%;
        color: white;
        font-size: medium;
    }

    .newT {
        width: 60vw;
        margin-left: 20vw;
    }

} 

@media(min-width: 769px){
    .btn-up .more {
        font-size: 45px;
    }
}