
* {
    font-size: medium;
}

a:hover, a:active {
    border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}





.lyrics {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    color: #FFFFFF;
    line-height: 1;
}

.bodym {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.navbar {
    background-color: #00BFA5;
    text-align: center;
}

#whiteLink {
    color: white;
}

@media (min-width: 576px) {
    * {
        line-height: 1.5;
    }
}

