<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" id="sportify" routerLink="/home">Sportify</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="whiteLink" routerLink="/register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/login">LogIn</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/home">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="bg-light lyrics">
    <div class="py-5 text-center">
        <h2>SPORTIFY</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                <div #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                    <div class="mb-3 form-group" style="text-align: center;">
                        <label for="type">Tipo de usuario <span class="text-muted"></span></label>
                        <br>
                        <select class="form-control" id="dropdown" #rol="ngModel" [(ngModel)]="user.rol" required
                            name="rol">
                            <option value="" selected disabled>Selecciona uno</option>
                            <option #rol="ngModel" [(ngModel)]="user.rol">Entrenador</option>
                            <option #rol="ngModel" [(ngModel)]="user.rol">Jugador</option>
                            <option *ngFor="let rol of rols" [value]="rol">{{rol}}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">Nombre</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Nombre" #name="ngModel"
                                [(ngModel)]="user.name" required name="name">
                            <div class="invalid-feedback" *ngIf="registerForm.submitted && name.invalid">
                                <div *ngIf="name.errors.required">Debe insertar un nombre</div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Apellidos</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Apellidos"
                                #lastName="ngModel" [(ngModel)]="user.lastName" required name="lastName">
                            <div class="invalid-feedback" *ngIf="registerForm.submitted && lastName.invalid">
                                <div *ngIf="lastName.errors.required">Debe insertar un apellido</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="telephone">Teléfono</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            </div>
                            <input type="text" class="form-control" id="telephone" placeholder="Teléfono"
                                #phone="ngModel" [(ngModel)]="user.phone" required name="phone">
                            <div class="invalid-feedback" *ngIf="registerForm.submitted && phone.invalid">
                                <div *ngIf="phone.errors.required">Debe insertar un telefono</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted"></label>
                        <input type="email" class="form-control" id="Email" placeholder="you@example.com"
                            #email="ngModel" [(ngModel)]="user.email" required name="email"
                            [ngClass]="{'is-invalid': discoForm.submitted && singer.invalid}">
                        <div class="invalid-feedback" *ngIf="registerForm.submitted && email.invalid">
                            <div *ngIf="email.errors.required">Debe insertar un email</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="password">Contraseña</label>
                        <input type="text" class="form-control" id="password" placeholder="Pontraseña"
                            #password="ngModel" [(ngModel)]="user.password" required name="password" minlength="6">
                        <div class="invalid-feedback" *ngIf="registerForm.submitted && password.invalid">
                            <div *ngIf="password.errors.required">Debe insertar una contraseña</div>
                            <div *ngIf="password.errors.minlength">Su contraseña debe tener almenos 6 caracteres
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <div style="text-align: center;">
                        <button type="submit" [disabled]="!registerForm.valid" class="btn">Registrarme</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-green-footer></app-green-footer>