section {
    height: 80vh;
    margin-top: 50px;
    margin-bottom: 10vh;
}

#sportify{
    color: white;
    font-weight: 900;
}

.lyrics {
    background-image: url(../../../assets/login.jpg);
    background-size: cover;
    color: #00BFA5;
    height: 90vh;
}

.white {
    padding: 20px;
    background-color: transparent;
}

.register {
    background-color: white;
    border-radius: 5%;
    margin: auto;
    width: 30vw;
}


.header {
    background-color: #00BFA5;
    text-align: center;
}
#whiteLink {
    color: white;
}

.buttonR {
    background-color: #00BFA5;

    color: #ffffff;
}

.form-signin {
    padding: 5%;
    margin: 2%;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #00BFA5; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .invalid-feedback {
    color: red
}

.wrong {
    color: #a94442;
    font-size: small;
}

.correcto {
    text-align: center;
}

@media(max-width:1030px) {
    .register {
        background-color: white;
        border-radius: 5%;
        margin-left: 10vw;
        width: 80vw;
    }
}

@media(max-width:650px) {
    .register {
        background-color: white;
        border-radius: 5%;
        margin-left: 5vw;
        width: 90vw;
    }
}