.lyrics {
    background-color: #ffffff;
    color: #00BFA5;
    height: 100vh;
}
.lyrics2 {
    background-color: #00BFA5;
}
#whiteLink {
    color: white;
}

.buttonR {
    background-color: #00BFA5;

    color: #ffffff;
}

.m-5 {
    padding: 5%;
}

@media(min-width:769px) {
    .m-5 {
        padding-right: 25%;
        padding-left: 25%;
    }
}