<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content=" initial-scale=1, shrink-to-fit=no">
    <title>Login</title>

</head>

<br>
<br>
<br>
<br>

<body class="text-center lyrics">

    <div class="text-center lyrics">
        <form class="form-signin m-5">
            <img class="mb-4" src="balon.jpg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">SPORTIFY</h1>
            <br>

            <input type="email" id="inputEmail" class="form-control " placeholder="Email address" required autofocus>
            <br>
            <br>

            <input type="password" id="inputPassword" class="form-control " placeholder="Password" required>
            <br>
            <div class="checkbox mb-3">
                <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
                <br>
                <br>
            </div>
            <button type="button" class="btn buttonR">sing in</button>
        </form>
    </div>
    <br>
    <br>
    <br>




</body>