<app-landing-header></app-landing-header>

<div class="text-center lyrics">

    <div class="text-center lyrics">
        <form class="form-signin m-5">
            <img class="mb-4" src="balon.jpg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sportify</h1>
            <br>

            <input type="email" id="inputEmail" class="form-control " placeholder="Email" required autofocus>
            <br>
            <br>

            <input type="password" id="inputPassword" class="form-control " placeholder="Contraseña" required>
            <br>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Recordarme
                </label>
                <br>
                <br>
            </div>
            <button type="button" class="btn buttonR" [routerLink]="['/coach/myTeams']" routerLinkActive="router-link-active" >Entrar</button>
        </form>
    
    </div>
</div>
<app-green-footer></app-green-footer>