*{
    font-size: 1vw;
}

mat-sidenav-container {
    background-color: #e0f2f1;
}

button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }
a {
    color: black;
    text-decoration: none;
}

.mat-icon {
    font-size: 25px;
 }

.header {
    color: white;
}

#toolbarMenu, .toolbar-icon {
    color: white;
}

#toolbarMenu {
    cursor: pointer;
    margin-right: 20px;
}
#mainToolbar .toolbar-spacer {
    flex: 1 1 auto;
}

.toolbar-spacer {
    margin-left: 20%;
}

#mainToolbar .toolbar-icon {
    cursor: pointer;
    margin: 0 8px;
}

#sidenavContainer {
    margin-top: 64px;
}

#sidenav {
    width: 20px;
}

#sidenav.menu-close {
    width: 70px
}

#sidenav.menu-open {
    width: 240px
}

#sidenav .avatar {
    background-image: url('http://i.pravatar.cc/300');
    background-size: cover;
}

#sidenav .mat-list-item-content {
    padding: 0;
}

#sidenav .menu-item {
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 10px;
}

#sidenav .menu-item:hover {
  background: #eee;
}
#sidenav .menu-item mat-icon {
    margin-right: 20px;
    margin-left: 12px;
}

.dash-list h3 {
    padding: 12px;
}

mat-card-header {
    color: #00bfa5;
}

@media (max-width: 576px) {
    * {
        font-size: 4vw;
    }
}


