<body>

        <mat-toolbar id="mainToolbar" color="primary">
                <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">menu</mat-icon>
                <h1 class="header">Sportify</h1>
                <span class="toolbar-spacer"></span>
                <mat-icon class="toolbar-icon" (click)="userChange()">
                        notifications</mat-icon>
        </mat-toolbar>

        <mat-sidenav-container id="sidenavContainer" fullscreen>
                <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen"
                        [class.menu-close]="!isMenuOpen" opened>

                        <mat-list id="menus" *ngIf="coach; else playerBlock">
                                <mat-card>
                                        <mat-card-header>
                                                <div mat-card-avatar class="avatar"></div>
                                                <mat-card-title>Mi nombre</mat-card-title>
                                                <mat-card-subtitle>Entrenador</mat-card-subtitle>
                                        </mat-card-header>
                                </mat-card>
                                <mat-list-item>
                                        <button class="menu-item" mat-flat-button>
                                                <mat-icon color="primary">supervisor_account</mat-icon>
                                                <a class="text-dark" routerLink="/coach/myTeams">Mis equipos</a>
                                        </button>
                                </mat-list-item>

                                <mat-list-item>
                                        <button class="menu-item" mat-flat-button>
                                                <mat-icon color="primary">folder</mat-icon>
                                                <a class="text-dark" routerLink="/coach/myWorkouts">Mis
                                                        entrenamientos</a>
                                        </button>
                                </mat-list-item>

                                <mat-list-item>
                                        <button class="menu-item" mat-flat-button>
                                                <mat-icon color="primary">settings_application</mat-icon>
                                                <a class="text-dark" routerLink="/coach/settings">Ajustes</a>
                                        </button>
                                </mat-list-item>

                        </mat-list>

                        <mat-list id="menus" #playerBlock>
                                <mat-card>
                                        <mat-card-header>
                                                <div mat-card-avatar class="avatar"></div>
                                                <mat-card-title>Mi nombre</mat-card-title>
                                                <mat-card-subtitle>Jugador</mat-card-subtitle>
                                        </mat-card-header>
                                </mat-card>
                                <mat-list-item>
                                        <button class="menu-item" mat-flat-button>
                                                <mat-icon color="primary">calendar_today</mat-icon>
                                                <a class="text-dark" routerLink="/player/myCalendar">Mi calendario</a>
                                        </button>
                                </mat-list-item>

                                <mat-list-item>
                                        <button class="menu-item" mat-flat-button>
                                                <mat-icon color="primary">person</mat-icon>
                                                <a class="text-dark" routerLink="/player/myCoach">Mi entrenador</a>
                                        </button>
                                </mat-list-item>

                                <mat-list-item>
                                        <button class="menu-item" mat-flat-button>
                                                <mat-icon color="primary">settings_application</mat-icon>
                                                <a class="text-dark" routerLink="/player/settings">Ajustes</a>
                                        </button>
                                </mat-list-item>

                        </mat-list>
                </mat-sidenav>

                <mat-sidenav-content style="margin: 0;">
                <router-outlet></router-outlet>
                </mat-sidenav-content>




        </mat-sidenav-container>
        
</body>


