
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" id="sportify" routerLink="/home">Sportify</a> 
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="whiteLink" routerLink="/register">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/login">LogIn</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/home">About Us</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="bg-light lyrics">
    <div class="py-5 text-center">
        <h2>SPORTIFY</h2>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <form class="needs-validation" novalidate>
                        <div class="mb-3" style="text-align: center;">
                            <label for="type">Tipo de usuario <span class="text-muted"></span></label>
                            <br>
                            <select id="slect" id="dropdown">
                                <option value="null" selected disabled>Selecciona uno</option>
                                <option value="entrenador">Entrenador</option>
                                <option value="jugador">Jugador</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">Nombre</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Nombre" value="" required>
                                <div class="invalid-feedback">
                                    Se requiere un nombre válido
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Apellidos</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Apellidos" value="" required>
                                <div class="invalid-feedback">
                                    Se requiere un apellido válido
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="telephone">Teléfono</label>
                            <div class="input-group">
                                <div class="input-group-prepend">

                                </div>
                                <input type="text" class="form-control" id="telephone" placeholder="Teléfono" required>
                                <div class="invalid-feedback" style="width: 100%;">
                                    Se requiere un teléfono
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted">*</span></label>
                            <input type="email" class="form-control" id="Email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Por favor inserte un email válido
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password">Contraseña</label>
                            <input type="text" class="form-control" id="password" placeholder="Pontraseña" required>
                            <div class="invalid-feedback">
                                Por favor inserte la contraseña
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div style="text-align: center;">
                            <button type="button" class="btn">Registrarme</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>

<app-green-footer></app-green-footer>