.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#sportify{
    color: white;
    font-weight: 900;
}

.lyrics {
    background-color: #ffffff;
    color: #00BFA5;
    padding-bottom: 6vh;
}
.header {
    background-color: #00BFA5;
    color: #ffffff;
    text-align: center;
}
#whiteLink {
    color: white;
}
.btn {
    background-color: #00BFA5;
    color: #ffffff;
}
select{
    border: none;
}
.container {
    padding: 5%;
    padding-left: 21%;
}

@media(max-width:767px) {
    .container {
        padding-left: 4%;
    }
}


@media(max-width:789px) {
    .buttonR {
        margin-left: 35%;
        margin-right: 25%;
    }
}