<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Checkout example · Bootstrap</title>
</head>

<body class="bg-light lyrics ">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>SPORTIFY</h2>

    </div>
    <div class="m-5">
        <div class="container">


            <div class="row">

                <div class="col-md-8 order-md-1">

                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="firstName">First name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                                <div class="invalid-feedback">
                                    Valid last name is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="telephone">telephone</label>
                            <div class="input-group">
                                <div class="input-group-prepend">

                                </div>
                                <input type="text" class="form-control" id="telephone" placeholder="telephone" required>
                                <div class="invalid-feedback" style="width: 100%;">
                                    Your telephone is required.
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email">Email <span class="text-muted">(obligatorio)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="text" class="form-control" id="password" placeholder="password" required>
                            <div class="invalid-feedback">
                                Please enter your shipping password.
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="type">type of user <span class="text-muted"></span></label>
                            <input type="text" class="form-control" id="type" placeholder=" Entrenador o  Jugador">
                        </div>







                        <hr class="mb-4">
                        <button type="button" class="btn buttonR ">sing in</button>
                    </form>
                </div>
            </div>


        </div>
    </div>


</body>

</html>