<app-coach-menu></app-coach-menu>

<section>
    <div id="profile">
        <i class="fa fa-user-circle" id="user"></i>
    </div>
</section>
<div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tipo usuario
            <p id="info">{{userLoged.rol}}</p>
        </li>
        <li class="list-group-item">Nombre
            <p contenteditable="true" id="info">{{userLoged.name}}</p>
        </li>
        <li class="list-group-item">Apellido
            <p contenteditable="true" id="info">{{userLoged.lastName}}</p>
        </li>
        <li class="list-group-item">Mail
            <p contenteditable="true" id="info">{{userLoged.email}}</p>
        </li>
        <li class="list-group-item">Telefono
            <p contenteditable="true" id="info">{{userLoged.phone}}</p>
        </li>
        <li class="list-group-item">Cambiar contraseña</li>
        <li class="list-group-item" (click)="logOut()">Cerrar sesion <i class="fas fa-power-off" (click)="logOut()"></i></li>
    </ul>
    <div class="text-center"><button type="button" class="btn buttonR ">Actualizar</button></div>

</div>

<app-green-footer></app-green-footer>