<app-player-menu></app-player-menu>

<div>
    <div class="header row">
        <h2 class="col-12 header">Próximos entrenamientos</h2>
    </div>
    <section id="entrenamientos">
        <div id="training-card">
            <div class="card mb-3" *ngFor="let t of dataBase;">
                <div class="card-header" id="date">
                    <strong>{{t.date | date}}</strong> <br>
                    <i class="fas fa-tshirt" id="shirt"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">{{t.name}}</p>
                    <p class="card-text">{{t.description}}</p>
                </div>
                <div class="card-footer">
                    {{t.location}}
                </div>
            </div>
        </div>
    </section>
</div>

<app-green-footer></app-green-footer>