<app-player-menu></app-player-menu>


<div>
    <div class="header row">
        <h2 class="col-12 header">Próximos entrenamientos</h2>
    </div>
    <section id="entrenamientos">
        <div id="training-card">
            <div class="card mb-3">
                <div class="card-header" id="date">
                    <strong>Martes 17 septiembre</strong> <br>
                    16.00
                    <i class="fas fa-tshirt" id="shirt"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">No olvideis traer la equipación</p>
                </div>
                <div class="card-footer">
                    Polideportivo Las Nieves
                </div>
            </div>
        </div>
        <div id="training-card">
            <div class="card mb-3">
                <div class="card-header" id="date">
                    <strong>Jueves 19 septiembre</strong> <br>
                    16.00
                    <i class="fas fa-tshirt" id="shirt"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">No olvideis traer la equipación</p>
                </div>
                <div class="card-footer">
                    Polideportivo Las Nieves
                </div>
            </div>
        </div>
        <div id="training-card">
            <div class="card mb-3">
                <div class="card-header" id="date">
                    <strong>Martes 17 septiembre</strong> <br>
                    16.00
                    <i class="fas fa-tshirt" id="shirt"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">No olvideis traer la equipación</p>
                </div>
                <div class="card-footer">
                    Polideportivo Las Nieves
                </div>
            </div>
        </div>
    </section>
</div>

<app-green-footer></app-green-footer>