<app-coach-menu></app-coach-menu>

<section #myGames>
    <div class="header">
        <img src="../../../../assets/menus/back.svg" alt="go back" id="back" routerLink="/coach/myTeams">
        <h1 class="header-title">Mis partidos</h1>
        <a routerLink="/coach/settings">
            <img src="../../../../assets/menus/avataaars.svg" alt="avatar" id="avatar">
        </a>
    </div>
    <div class="search-container">
        <form action="" class="search">
            <input #filter type="text" placeholder="Buscar.." name="search">
            <button (click)="filterTeam(filter)"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="cards-container">
        <div id="train-card" *ngFor="let e of dataBase; let i= index">
            <div class="delete">
                <img src="../../../../assets/pages/close.svg" alt="delete game" id="delete" (click)="deleteGame(dataBase[i].match_id)">
            </div>
            <div class="train-div">
                <div class="date">
                    <p id="month">{{e.date | date:'MMM'}}</p>
                    <p id="day">{{e.date | date:'d'}}</p>
                </div>
                <div class="train-info">
                    <h1 class="team-name">{{e.name}}</h1>
                    <div class="train-name">
                        <h1 (click)="getGame(dataBase[i])" data-toggle="modal" data-target="#putGame">
                            {{e.rival}}
                        </h1>
                        <div class="contact-info">
                            <p>
                                {{e.comments}}
                            </p>

                            <a href="{{e.location}}" id="location-link" target="_blank"> Localización
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newTeam">
        <button data-toggle="modal" data-target="#newGame">
        Nuevo partido
    </button>
    </div>
    <!--post game-->
    <div class="modal fade" id="newGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalNew">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="../../../../assets/modals/close.svg" alt="close-modal">
                </button>
                </div>

                <div class="modal-body">
                    <div class="mb-1">
                        <select #team class="team">
                        <option *ngFor=" let team of teams" value="{{team.team_id}}">
                            {{team.name}}
                        </option>
                    </select>
                        <div class="card-body bg-transparent modalB">
                            <label for="date">Fecha:</label><br>
                            <input type="date" #date id="date">
                        </div>
                        <div class="card-body modalB">
                            <label for="rival">Rival:</label><br>
                            <input #rival class="card-text" placeholder="rival" id="rival">
                        </div>
                        <div class="card-body bg-transparent modalB">
                            <label for="comments">Comentarios:</label><br>
                            <input #comments class="card-text" placeholder="comentarios" id="comments">
                        </div>
                        <div class="card-body modalB">
                            <label for="location">Lugar:</label><br>
                            <input #location class="card-text" placeholder="lugar" id="location">
                        </div>

                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button data-dismiss="modal" aria-label="Close" class="btnModal" id="card-bg2" (click)="newGame(team, date,comments,rival, location)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal editar partido -->
    <div class="modal fade" id="putGame" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalNew">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="../../../../assets/modals/close.svg" alt="close-modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-1">
                        <select #team2>
                            <option *ngFor=" let team of teams" value="{{team.team_id}}">
                                {{team.name}}
                            </option>
                        </select>
                        <div class="card-body bg-transparent">
                            <label for="date2">Fecha:</label><br>
                            <input type="date" #date2 placeholder="{{game.date}}" id="date2">
                        </div>
                        <div class="card-body">
                            <label for="rival2">Rival:</label><br>
                            <input #rival2 class="card-text" placeholder="{{game.rival}}" id="rival2">
                        </div>
                        <div class="card-body">
                            <label for="comments2">Comentarios:</label><br>
                            <input #comments2 class="card-text" placeholder="{{game.comments}}" id="comments2">
                        </div>
                        <div class="card-body">
                            <label for="location2">Lugar:</label><br>
                            <input #location2 class="card-text" placeholder="{{game.location}}" id="location2">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" aria-label="Close" class="btnModal" id="card-bg2" (click)="putGame(team2, date2,comments2, rival2, location2)">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</section>


<app-green-footer></app-green-footer>