.lyrics {
    background-color: #3BB899;
    font-family: ‘Roboto’, sans-serif;
    color: #FFFFFF;
}

.bodym {
    font-family: ‘Roboto’, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.navbar {
    background-color: #3BB899;
    text-align: center;
}

#whiteLink {
    color: white;
}