<app-coach-menu></app-coach-menu>


<section #myTrainings>
    <div class="header">
        <img src="../../../../assets/menus/back.svg" alt="go back" id="back" routerLink="/coach/myTeams">
        <h1 class="header-title">Mis entrenos</h1>
        <a routerLink="/coach/settings">
            <img src="../../../../assets/menus/avataaars.svg" alt="avatar" id="avatar">
        </a>
    </div>
    <h1 class="team-name">Entrenamientos de {{team_name}}</h1>

    <!-- contenido -->

    <div class="cards-container">
        <div id="train-card" *ngFor="let training of dataBase; let i = index">
            <div class="delete">
                <img src="../../../../assets/pages/close.svg" alt="delete user" id="delete" (click)="
                    deleteTraining(dataBase[i].training_id)">
            </div>
            <div class="train-div">
                <div class="date">
                    <p id="month">{{training.date | date:'MMM'}}</p>
                    <p id="day">{{training.date | date:'d'}}</p>
                </div>
                <div class="train-info">
                    <div class="train-name">
                        <h1 data-toggle="modal" data-target="#putTraining" (click)="getTraining(training)">
                            {{training.name}}
                        </h1>
                        <div class="contact-info">
                            <p>
                                {{training.description}}
                            </p>
                           
                            <a href="{{training.location}}" id="location-link" target="_blank"> Localización
                            </a>
                            <a id="view" routerLink="/coach/myExercises"
                                (click)="saveTraining(dataBase[i].training_id)">Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="newTeam">
        <button class="btn" id="card-bg2" data-toggle="modal" data-target="#postTraining">
            Nuevo entrenamiento
        </button>
    </div>
    <!-- post workouts -->
    <div class="modal fade" id="postTraining" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalNew">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="../../../../assets/modals/close.svg" alt="close-modal">
                    </button>
                </div>

                <div class="modal-body">
                    <div class="mb-1">
                        <div class="card-body bg-transparent" id="email">
                            <label for="nombre">Título:</label><br>
                            <input type="text" id="nombre" #name placeholder="título" maxlength="25">
                        </div>
                        <div class="card-body bg-transparent">
                            <label for="date">Fecha:</label><br>
                            <input type="date" #date placeholder="añade fecha">
                        </div>
                        <div class="card-body bg-transparent">
                            <label for="location">Lugar:</label><br>
                            <input #location class="card-text" placeholder="ej:Polideportivo">
                        </div>
                        <div class="card-body bg-transparent">
                            <label for="description">Recordatorio:</label><br>
                            <input type="text" id="description" #description placeholder="ej:traer camisetas"
                                maxlength="75">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button class="btnModal" (click)="addTraining(name, date, location, description)"
                        data-dismiss="modal" aria-label="Close">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal editar entrenamiento -->
    <div class="modal fade" id="putTraining" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="modalNew">
                <div class="modal-header border-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="../../../../assets/modals/close.svg" alt="close-modal">
                    </button>
                </div>

                <div class="modal-body">
                    <div class="mb-1">
                        <div class="card-body bg-transparent" id="email">
                            <label for="nombre">Título:</label><br>
                            <input type="text" id="nombre" #name1 placeholder="{{edit.name}}" maxlength="25">
                        </div>
                        <div class="card-body bg-transparent">
                            <label for="date">Fecha:</label><br>
                            <input type="date" #date1 placeholder="{{edit.date}}">
                        </div>
                        <div class="card-body bg-transparent">
                            <label for="location">Lugar:</label><br>
                            <input #location1 class="card-text" placeholder="{{edit.location}}">
                        </div>
                        <div class="card-body bg-transparent">
                            <label for="description">Recordatorio:</label><br>
                            <input type="text" id="description" #description1 placeholder="{{edit.description}}"
                                maxlength="75">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button class="btnModal" (click)="putTraining(name1, date1, location1, description1)"
                        data-dismiss="modal" aria-label="Close">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-green-footer></app-green-footer>