<app-coach-menu></app-coach-menu>

<section>
    <div class="card-color d-flex align-content-center flex-wrap mx-auto pb-4">
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-4">
                    <i class="fa fa-soccer-ball-o ball"></i>
                </div>
                <div class="col-6 infoTeam">
                    <h3 class="card-title">Alcorcón CF</h3>
                    <p class="card-text">Alevines</p>
                </div>
                <div class="col-1 mt-3">
                   <a routerLink="/player/myPlayers"><mat-icon class="eye">remove_red_eye</mat-icon></a> 
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-4">
                    <i class="fa fa-soccer-ball-o ball"></i>
                </div>
                <div class="col-6 infoTeam">
                    <h3 class="card-title">Alcorcón CF</h3>
                    <p class="card-text">Alevines</p>
                </div>
                <div class="col-1 mt-3">
                    <a routerLink="/player/myPlayers"><mat-icon class="eye">remove_red_eye</mat-icon></a> 
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-4">
                    <i class="fa fa-soccer-ball-o ball"></i>
                </div>
                <div class="col-6 infoTeam">
                    <h3 class="card-title">Alcorcón CF</h3>
                    <p class="card-text">Alevines</p>
                </div>
                <div class="col-1 mt-3">
                    <a routerLink="/player/myPlayers"><mat-icon class="eye">remove_red_eye</mat-icon></a> 
                </div>
            </div>
        </div>

    </div>



</section>