<app-coach-menu></app-coach-menu>

<section>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo jugador</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card mb-3">
                        <div class="card-header bg-transparent" id="date">
                            <label for="email">email:</label><br>
                            <input type="email" id="url" #email placeholder="email">
                        </div>
                        <div class="card-header bg-transparent">
                            <label for="phone">móvil:</label><br>
                            <input type="tel" #phone placeholder="telefono">
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn new" (click)="addPlayer(email, phone)" data-dismiss="modal"
                        aria-label="Close">Añadir</button>
                </div>
            </div>
        </div>
    </div>

    <div class="header row">
        <h2 class="col-12 header">Mis jugadores</h2>
    </div>

    <div>
        <div class="card-color d-flex align-content-center flex-wrap mx-auto pb-4">
            <div *ngFor="let player of dataBase; let i = index"
                class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
                <div class="card-header" id="date">
                    {{player.name}} {{player.lastName}}
                    <i class='fas fa-trash-alt'(click)="deletePlayers(dataBase[i].user_id)"></i>
                </div>
                <div class="card-body row">
                    <div class="col-3">
                        <i class='fas fa-user'></i>
                    </div>
                    <div class="col-9 infoPlayer">
                        <p class="card-text"> <strong>Email: </strong> {{player.email}}</p>
                        <label for="email"><strong>Mvl: </strong></label><br>
                        <p class="card-text"> {{player.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newTeam">
        <button class="btn newJ mb-5" id="card-bg2" data-toggle="modal" data-target="#exampleModalCenter">
            Nuevo jugador
        </button>
    </div>
</section>

<app-green-footer></app-green-footer>