* {
    font-size: 1.7;
    line-height: 1.5;
    color: gray;
}


.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: x-large;
}

.mat-icon {
    color: #00bfa5;
    font-size: 3rem;
}

section {
padding-bottom: 2%;
}

body {
    padding-top: 20px;
}

.list-group-item {
    background-color: #00bfa5;
    opacity: 0.8;
}

.nav-item:link, .nav-item:visited, .nav-item:active {
    text-decoration:none;
    color:white;
}

.infoPlayer {
    font-size: 1vw;
}

.card-header {
    background-color: #00bfa5;
    color: white;
    font-weight: bold;
}

#edit{
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
}
#trash{
    position: absolute;
    top: 10%;
    right: 5%;
    color: white
}
#ver{
    color: white;
    position: absolute;
    top: 20%;
    right: 3%;
    border: solid;
    border-color: white;
}

.btn-up{
    position: relative;
    margin: auto;
    padding: 12px;
}
.btn-up .more{
    position: fixed;
    top: 10%;
    right: 15px;
    font-size: 6vw;
    color: #00BFA5;
    border-radius: 100%;
    background-color: whitesmoke;
}

@media (max-width: 576px) {
    section {
        padding-bottom: 10%;
        margin-top: 20px;
    }
    * {
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        line-height: 1.5;
        color: gray
    }
    .more {
        color: #00bfa5; 
        font-size: 8vw;  
    }
    #trash{
        position: absolute;
        top: 10%;
        right: 5%;
        color: white;
        font-size: medium;
    }
} 

@media(min-width: 769px){
    .btn-up .more {
        font-size: 45px;
    }
}

