* {
    color: gray;
}


.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: x-large;
}

.fa-user {
    color: #00bfa5;
    font-size: 2rem;
    position: absolute;
    top: 30%;
}

section {
padding-bottom: 2%;
}

body {
    padding-top: 20px;
}

.list-group-item {
    background-color: #00bfa5;
    opacity: 0.8;
}

.nav-item:link, .nav-item:visited, .nav-item:active {
    text-decoration:none;
    color:white;
}

.infoPlayer {
    font-size: 1vw;
}

.card-header {
    background-color: #00bfa5;
    color: white;
    font-weight: bold;
}

#edit{
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
}

#ver{
    color: white;
    position: absolute;
    top: 20%;
    right: 3%;
    border: solid;
    border-color: white;
}

.btn-up{
    position: relative;
    margin: auto;
    padding: 12px;
}
.btn-up .more{
    position: fixed;
    top: 10%;
    right: 15px;
    font-size: 6vw;
    color: #00BFA5;
    border-radius: 100%;
    background-color: whitesmoke;
}

/* desde aqui  */
.playerInfo{
    width: 300px;
}
.new {
    background-color: #00bfa5;
    border: #00bfa5;
    width: 20vw;
    color: white;
    margin-left: 45vw;
    margin-top: 10vh;
}

.newJ {
    background-color: #00bfa5;
    border: #00bfa5;
    width: 20vw;
    color: white;
    margin-left: 45vw;
    margin-top: 5vh;
}

.new:active, .new:hover {
    background-color: #126e62;
    border: #126e62;
}

.modal-title {
    margin: auto;
    color: #00bfa5;
    font-size: medium;
}

.card-header, .card {
    border-color: transparent;
}



.card-footer, .card-header {
    background-color: #00bfa5;
    max-width: 100%;
    padding-top: 20px;
    color: white;
    font-weight: bold;
}

.close {
    color:  #00bfa5;
    font-weight: bold;
    position: absolute;
    top: 2%;
    right: 3%;
    z-index: 1;
}

.fa-trash-alt {
    color: white;
    position: absolute;
    top: 12%;
    right: 4%;
    z-index: 1;
}


@media (max-width: 576px) {
    section {
        padding-bottom: 10%;
        margin-top: 20px;
    }
    * {
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        line-height: 1.5;
        color: gray
    }

    .header {
        margin-top: 0;
    }
    .more {
        color: #00bfa5; 
        font-size: 8vw;  
    }
    #trash{
        position: absolute;
        top: 10%;
        right: 5%;
        color: white;
        font-size: medium;
        font-size: small;
    }
} 

@media(min-width: 769px){
    .btn-up .more {
        font-size: 45px;
    }
}

