<section>
    <div class="card-color d-flex align-content-center flex-wrap mx-auto pb-4">
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-body row">
                <div class="col-3 mt-3 mt-lg-5">
                    <i class='far fa-user'></i>
                </div>
                <div class="col-9 infoPlayer">
                    <p class="card-title player"> Mario Rodriguez</p>
                    <p class="card-text"> <strong>Email:</strong> mariorod@yahoo.es</p>
                    <p class="card-text"><strong>Mvl: </strong> 656 56 55 96</p>
                </div>
            </div>
        </div>

    </div>