* {
    font-size: medium;
    line-height: 1.5;
    color: gray;
}

.mat-icon {
    color: #00bfa5;
    font-size: 3rem;
}

section {
padding-bottom: 2%;
}

body {
    padding-top: 20px;
}

.list-group-item {
    background-color: #00bfa5;
    opacity: 0.8;
}

.nav-item:link, .nav-item:visited, .nav-item:active {
    text-decoration:none;
    color:white;
}

.infoPlayer {
    font-size: 1vw;
}

.player {
    color: #00bfa5;
    font-weight: bold;
}

.btn-down{
    position: relative;
    margin: auto;
    padding: 12px;
}
.btn-down .material-icons{
    position: fixed;
    bottom: 10%;
    right: 15px;
    font-size: 5vw;
    color: #00BFA5;
    border-radius: 100%;
    background-color: whitesmoke;
}

@media (max-width: 576px) {
    section {
        padding-bottom: 10%;
        margin-top: 20px;
    }
    * {
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        line-height: 1;
        color: gray
    }
    mat-icon {
        color: #00bfa5;
        font-size: 8vw;  
    }
} 

@media(min-width: 769px){
    .btn-down .material-icons{
        font-size: 45px;
    }
}

