/* * {
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    line-height: 1;
    color: white;
}

body {
    padding-top: 40px;
}

.list-group-item {
    background-color: #00bfa5;
    opacity: 1;
}

.nav-item:link, .nav-item:visited, .nav-item:active {
    text-decoration:none;
    color:white;
}

.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}

.navbar, #navbarToggleExternalContent {
    background-color:  #00bfa5;
}

section {
    padding-bottom: 10%;
    margin-top: 20px;
}
mat-icon {
    color:white;
}

.navbar-toggler {
    color: white;
}


@media (min-width: 576px) {
    * {
        font-size: 1vw;
        line-height: 1.5;
    }
    
    
   section {
    padding-bottom: 2%;
}
} */

.lyrics {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    color: #FFFFFF;
    line-height: 1;
}

.bodym {
    background-color: #00BFA5;
    font-family: ‘Roboto’, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.navbar {
    background-color: #00BFA5;
    text-align: center;
}

#whiteLink {
    color: white;
}

@media (min-width: 576px) {
    * {
        font-size: 2vw;
        line-height: 1.5;
    }
}

