$myColor: #00bfa5;

section {
    color: black;
    .team-name {
      color: white;
      text-align: center;
    }
  }

.delete {
    text-align: right;
    padding-right: 10px;
    margin-top:5px;
    #delete {
    cursor: pointer;
    }
  }
  

  #train-card{
    margin: 1.5rem;
    justify-content: start;
    text-align: left;
    
    .train-div {
      display: flex;
      margin-left: 10px;
      
        .date {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            height: 70%;
            p {
                display: block;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0px;
                color: $myColor;
            }
        }
      .train-info {
        flex-grow: 2;
        margin-right: 0.5rem;
        .train-name {
        height: 90%;
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
            h1 {
            font-size: 18px;
            cursor: pointer;
                }
            .contact-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 10px;
            padding-bottom: 10px;
            color: grey;
           #location-link {
            position: relative;
            top: 50px;
            
           }
            p {
              font-size: 16px;
              margin-bottom: 5px;
            }
            #view {
                text-align: right;
                font-weight:bold;
                cursor: pointer;
                font-size: 16px;
                color: $myColor;
                padding-top: 50px;
                margin-top: 5px;
              margin-bottom: 5px;
                }
          }
        }
      }
    }   
}

@media screen and (min-width: 760px) {
  .header {
    display: none;
  }
}

//version movil
@media screen and (max-width: 760px) {

   .cards-container {
       padding: 0;
       margin: 0;
       align-items: center;
       #train-card {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
       width: 356px;
       height: 90px;

       .delete {
        padding-right: 5px;
           margin-top: 0px;
           margin-bottom: 0px;
           position: relative;
           right: 1%;
            top: 5%;
       }

       .train-div {
           width: 100%;
           height: 100%;
           .date {
            position: relative;
           width: 54px;
           bottom: 10px;
           }

           .train-name {
               padding-top: 0px;
               h1{
              padding: 0px;
              margin: 0px; 
                 }
               .contact-info {
                   padding-top: 0px;
                    #place {
                        display: none;
                    }
                   p, #location-link {
                      margin-top: 10px;
                       margin-bottom: 5px;
                       font-size: 12px;
                   }
                   #view {
                     margin: 0px;
                     padding: 0px;
                    position: relative;
                    bottom: 15%;
                    right: 3%;
                   }
               }
           }
       }

       
    }
      
   } 
 }
        
       
    
