<header class="lyrics">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light mx-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/player/myMatches" routerLinkActive="active-link">Partidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="whiteLink" routerLink="/player/myTrainings" routerLinkActive="active-link">Entrenos</a>
              </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/player/tournament" routerLinkActive="active-link">Torneos</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/player/myCoach" routerLinkActive="active-link"> Entrenador <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="whiteLink" routerLink="/player/settings" routerLinkActive="active-link">Ajustes</a>
                </li>
            </ul>

        </div>
    </nav>
</header>


<header class="bottom-menu">
  <div class="menu-icons">
    <div class="boton">
      <a routerLink="/player/myMatches" >
        <img src="../../../assets/menus/mygames.svg" alt="mygames">
      </a>
    </div><div class="boton">
      <a routerLink="/player/myTrainings" >
        <img src="../../../assets/menus/trainings.svg" alt="trainings">
      </a>
    </div>
    <div class="boton">
      <a routerLink="/player/tournament" >
        <img src="../../../assets/menus/mytourn.svg" alt="">
      </a>
    </div>
    <div class="boton">
        <a routerLink="/player/myCoach">
          <img src="../../../assets/menus/coach.svg" alt="myteams">
        </a>
      </div>
  </div>
  <div class="menu-text">
    <div class="boton-text">
      <p>Partidos</p>
    </div>
    <div class="boton-text">
      <p>Entrenos</p>
    </div>
    <div class="boton-text">
      <p>torneos</p>
    </div>
    <div class="boton-text">
        <p>entrenador</p>
      </div>
  </div>
</header> 


