<app-player-menu></app-player-menu>
<div>
    <div class="header row">
        <h2 class="col-12 header">Próximos partidos</h2>
    </div>
    <section id="entrenamientos">
        <div id="training-card" class="card-color d-flex align-content-center flex-wrap mx-auto pb-4" *ngFor="let m of dataBase;">
            <div class="card mb-3">
                <div class="card-header" id="date">
                    <strong>{{m.date | date}}</strong> <br>
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>{{m.rival}}</strong></p>
                    <p class="card-text">{{m.comments}}</p>
                </div>
                <div class="card-footer">
                    {{m.location}}
                </div>
            </div>
        </div>
    </section>
</div>


<app-green-footer></app-green-footer>
