section {
    color: black;
  }

  .delete {
    text-align: right;
    padding-right: 10px;
    margin-top:5px;
    #delete {
    cursor: pointer;
    }
  }

  #player-card{
   
    
      margin: 1.5rem;
  }

  .player-info {
    text-align: left;
    justify-content: center;
    align-items: space;
  }