section {
    color: black;
  }


  .delete {
    text-align: right;
    padding-right: 10px;
    margin-top:5px;
    #delete {
    cursor: pointer;
    }
  }
  #player-card-phone {
    display: none;
  }
  #player-card{
      margin: 1.5rem;
      justify-content: start;
      text-align: left;
      
      #user-img {
        flex-grow: 1;
      }
      .player-div {
        display: flex;
        margin-left: 10px;

        .player-info {
          width: 75%;
          .player-name {
          height: 80%;
          display: flex;
          flex-direction: column;
    
          padding: 1rem;
              h1 {
              font-size: 20px;
                  }
              .contact-info {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              height: 80%;
              padding-top: 10px;
              color: gray;
              h2 {
                font-size: 16px;
              }
            }
          }
        }
      }
 }


//version movil
 @media screen and (max-width: 932px) {
  section {
    background: linear-gradient(#EEEEEE);
    .header {
      z-index: 50;
    }
  }
   .cards-container {
     justify-content: start;
     margin-bottom: 1rem;
     padding: 0px;
     width: 100vw;
   }
   #player-card {
     display: none;

   }
  #player-card-phone{
    display: flex;
    width: 100vw;
    height: 100px;
    border-radius: 0px;
    margin: 0px;
    margin-top: 5px;
    
    
        .player-name {
        height: 100%;
        display: flex;
        align-items: center;
        background: white;
        padding: 1rem;
        padding-bottom: 0.3rem;
        #delete {
          position: absolute;
          right: 4%;
        }
            h1 {
            font-size: 18px;
            
                }
        }
        .contact-info {
          display: flex;
          flex-direction: column;
          height: 100%;
          padding-bottom: 0.5rem;;
          color: gray;
        
          h2 {
            font-size: 16px;
            text-align: left;
            margin-left: 1rem;
          }
        }
      }
     }
  