<app-coach-menu></app-coach-menu>

<section>
    <div id="profile">
        <i class="fa fa-user-circle" id="user"></i>
    </div>
</section>
<div >
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tipo usuario <p id="info">Coach</p></li>
        <li class="list-group-item">Nombre <p contenteditable="true" id="info">Alejandro</p></li>
        <li class="list-group-item">Apellido<p contenteditable="true" id="info">Manzanares</p></li>
        <li class="list-group-item">Mail<p contenteditable="true" id="info">alex@mail.com</p></li>
        <li class="list-group-item">Telefono<p contenteditable="true" id="info">333-666-999</p></li>
        <li class="list-group-item">Cambiar contraseña</li>
        <li class="list-group-item">Cerrar sesion <i class="fas fa-power-off"></i></li>   
    </ul>
    <button href="#" class="badge badge-pill">Guardar cambios</button>
</div>

<app-green-footer></app-green-footer>