$myColor: #00bfa5;
$darker: #158a7a;

section {
  background: linear-gradient($myColor,  #34a1af);
  min-height: 100vh;
  color: white;
}

//menu up and down
#up, #down {
  position: fixed;
}

#up {
  top: 48%;
  right: 2%;
}
#down {
  top: 52%;
  right: 2%;
}

//secctions
.intro, #about {
  padding-top: 7vh;
  min-height: 100vh;
  min-width: 100vw;
  .ball {
    position: absolute;
    width: 8vw;
    opacity: 0%;
    animation: apear 1s ease forwards 3.2s;
  }
  #logo {
    position: relative;
    top: 45vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-family: 'Paytone One', sans-serif;
    animation: fill 0.5s ease forwards 3.5s;
  }
  #badminton {
    left: 45%;
    top: 10%;
  }
  #famerican {
    top: 15%;
   left: 20%;
    width: 10vw;
  }
  #volley {
  left: 20%;
   top: 60%;
  }
  #tenis {
    top: 75%;
    left: 48%;
  }
  #basket {
    right: 20%;
    top: 60%;
  }
  #soccer {
    top: 20%;
    right: 23%;
  }

}


//Sportify animation
#logo path:nth-child(1) { 
  stroke-dasharray: 374.89px;
  stroke-dashoffset: 374.89px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) { 
  stroke-dasharray: 387.04px;
  stroke-dashoffset: 387.04px;
  animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(3) { 
  stroke-dasharray: 286.05px;
  stroke-dashoffset: 286.05px;
  animation: line-anim 2s ease forwards 0.8s;  
}
#logo path:nth-child(4) { 
  stroke-dasharray: 225.15px;
  stroke-dashoffset: 225.15px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 266.4px;
  stroke-dashoffset: 266.4px;
  animation: line-anim 2s ease forwards 1.6s; 
}
#logo path:nth-child(6) { 
  stroke-dasharray: 263.07px;
  stroke-dashoffset: 263.07px;
  animation: line-anim 2s ease forwards 2s; 
}
#logo path:nth-child(7) { 
  stroke-dasharray: 304.32px;
  stroke-dashoffset: 304.31px;
  animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(8) { 
  stroke-dasharray: 422.81px;
  stroke-dashoffset: 422.81px;
  animation: line-anim 2s ease forwards 2.8s;
}

@keyframes line-anim {
  to{
      stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
      fill: transparent;
  }
  to {
      /* fill: #e94e21; */
      /* fill: #2b47b3; */
      fill: white;
  }
}

@keyframes apear {
  from{
    opacity: 0%;
  } to {
    opacity: 100%;
  }
}

@media (max-width: 800px) {
  .intro {
    min-height: 20vh;
  }
  .ball {
    display: none;
  }
  #up, #down {
    width: 3vw;
  }
  #logo {
      width: 70vw;
  }
  

}

// Anterior
  .header-link:hover, .header.link:active {
    border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 4px 0; 
  }
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  .btn-outline-white{
    background-color: #00bfa5;
    color: white;
  }

  .carousel {
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  .featurette-divider2 {
    margin: 2rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  .bd-placeholder-img {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .bgImg {
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  
  .overflow-hidden { overflow: hidden; }


#sportify{
    color: white;
    font-weight: 900;
}


.lyrics {
    background-color: #3BB899;
    color: #FFFFFF;
    text-align: center;
}

.bodym {
    background-color: #3bb899;
    text-align: center;
}


.navbar {
    background-color: #00bfa5;
    text-align: center;
}

#whiteLink {
    color: white;
} 

.circle {
  border-radius: 60%;
  width: 200px;
  margin: auto;
  display: block;
}

#about {
  text-align: center;
}

@media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
  
    }

    .featurette-heading {
      font-size: 50px;
    }
  }
/*
.bodym {
    background-color: #3bb899;
    font-family: ‘Roboto’, sans-serif;
    text-align: center;
}



.jumbotron {
    background-color: white;
}

.section1 {
    padding: 3%;
    background-color: #3bb899;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%;
}

.card {
    background-color: #3bb899;
    border: #3bb899;
}
.card-header {
    font-size: 5vw;
    background-color: #3bb899;
    border-bottom: #3bb899;
}
.card-text {
    font-size: 1vw;
}

.display-4 {
    margin-left: 2vw;
    margin-right: 2vw;
}

.nav-link {
    color: black;
}

.lead {
    font-size: 1rem;
}

.screen {
    width: 20vw;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 768px) {
    .club {
        display: none;
    }
  } */

  
