<app-coach-menu></app-coach-menu>

<section id="training-card">
    <div class="card mb-3">
        <div class="card-header" id="date">
            Tipo: 
            <select id="cars" name="cars" id="dropdown">
                <option value="null" selected disabled>Selecciona uno</option>
                <option value="calentamiento">Calentamiento</option>
                <option value="partePrncipal">Parte principal</option>
                <option value="vueltaCalma">Vuelta a la calma</option>
            </select>
            <i class='far fa-trash-alt' id="trash"></i>
        </div>
        <div class="card-header bg-transparent">
            Titulo Ejercicio
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer">
            URL Video, web, references
        </div>
    </div>


    <div class="card mb-3">
        <div class="card-header" id="date">
            Tipo: 
            <select id="cars" name="cars" id="dropdown">
                <option value="null" selected disabled>Selecciona uno</option>
                <option value="calentamiento">Calentamiento</option>
                <option value="partePrncipal">Parte principal</option>
                <option value="vueltaCalma">Vuelta a la calma</option>
            </select>
            <i class='far fa-trash-alt' id="trash"></i>
        </div>
        <div class="card-header bg-transparent">
            Titulo Ejercicio
        </div>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer">
            URL Video, web, references
        </div>
    </div>
</section>
<div class="card mb-3" id="new-ex">
    <button class="btn" id="card-bg2" routerLink="/coach/myWorkouts">
        Nuevo ejercicio
    </button>
</div>



<app-green-footer></app-green-footer>