<app-coach-menu></app-coach-menu>
<section>
    <div class="card-color d-flex align-content-center flex-wrap mx-auto pb-4">
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-header">
                Alcorcón CF
                <mat-icon class="close">delete</mat-icon>
            </div>
            <div class="card-body row">
                <div class="col-4">
                    <i class="fa fa-soccer-ball-o ball"></i>
                </div>
                <div class="col-7 infoTeam">
                    <p class="card-text">Alevines</p>
                </div>
            </div>
            <div class="card-footer">
                <mat-icon class="eye" routerLink="/coach/myPlayers">remove_red_eye</mat-icon>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-header">
                Alcorcón CF
                <mat-icon class="close">delete</mat-icon>
            </div>
            <div class="card-body row">
                <div class="col-4">
                    <i class="fa fa-soccer-ball-o ball"></i>
                </div>
                <div class="col-7 infoTeam">
                    <p class="card-text">Alevines</p>
                </div>
            </div>
            <div class="card-footer">
                <mat-icon class="eye">remove_red_eye</mat-icon>
            </div>
        </div>
        <div class="card playerInfo mr-4 ml-5 mt-4 mb-1 p-1 pb-1 team" id="team2">
            <div class="card-header">
                Alcorcón CF
                <mat-icon class="close">delete</mat-icon>
            </div>
            <div class="card-body row">
                <div class="col-4">
                    <i class="fa fa-soccer-ball-o ball"></i>
                </div>
                <div class="col-7 infoTeam">
                    <p class="card-text">Alevines</p>
                </div>
            </div>
            <div class="card-footer">
                <mat-icon class="eye">remove_red_eye</mat-icon>
            </div>
        </div>
    </div>

    <div class="card newPlayer mt-4 mb-1 mb-1 p-1 pb-1 team">
        <div class="form-group">
            <label for="my-input font-weight-bold">Nombre del nuevo equipo</label>
            <input id="my-input" class="form-control" type="text" name="" placeholder="nombre" required>
        </div>
        <div class="form-group">
            <label for="my-input font-weight-bold">Categoría</label>
            <input id="my-input" class="form-control" type="text" name="" placeholder="categoría" required>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Añadir equipo</button>
    </div>
</section>

<app-green-footer></app-green-footer>