* {
    font-size: 1.5vw;
    line-height: 1.5;
}
.ball {
    font-size: 5vw;
    color: #00bfa5;
}

.form-group {
    font-size: small;
}

button {
    background-color: #00bfa5;
    border: #00bfa5;
}

button:active, button:focus {
    background-color: #009688;
    border: #009688;
}

.newPlayer {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

label {
    color: #00bfa5;
    font-weight: 500;
    padding-bottom: 5px;
    padding-top: 5px;
}
section {
    padding-bottom: 15vh;
}
.card-header {
    background-color: #00bfa5;
    color: white;
}

#edit{
    position: absolute;
    top: 10%;
    right: 12%;
    color: white;
}
#trash{
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
}

.eye {
    font-size: 20px;
    color: #00bfa5;
}

.eye:hover {
    font-size: 18px;
}

.btn-down{
    position: relative;
    margin: auto;
    padding: 12px;
}
.btn-down .material-icons{
    position: fixed;
    bottom: 10%;
    right: 15px;
    font-size: 5vw;
    color: #00BFA5;
    border-radius: 100%;
    background-color: whitesmoke;
}

@media (max-width: 400px) {
    * {
        font-family: 'Roboto', sans-serif;
        font-size: medium;
    }
    .ball {
        color: #00bfa5;
        font-size: 15vw;  
    
    }
    
    .fa-eye {
        color: #00bfa5;
        font-size: vw;
    }
    
    .fa-eye:hover {
        font-size: 4vw;
    }
    .btn-down .material-icons{
        font-size: 40px;
    }
    
    section {
        padding-bottom: 20vh;
    }
}

@media(min-width: 769px){
    .btn-down .material-icons{
        font-size: 45px;
    }
}