$myColor: #00bfa5;

section {
    background: white;
    color: #158a7a;
   
}

input#url::placeholder {
    color: white;
}

#profile {
    background-color: white;
    font-size: 100px;
    text-align: center;
    color: #00BFA5;
}
#profile-list {
    color: #158a7a;
    padding: 0%;
    padding-left: 5%;
    margin-top: 3%;
}
ul,
div#div {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}

.list-group-item {
    position: relative;
}
#info {
    display: inline;
    position: absolute;
    right: 5%;
    color: grey;
}

#card-bg2{
    border: none;
    background-color: #00BFA5;
    color: white;
}
.card{
    border: #00BFA5;
    max-width: 50rem;
    margin: auto;
}

.card-footer, #date{
    background-color: #00BFA5;
    color: white;
    position: relative;
}


@media(min-width:760px) {
    .list-group {
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
    }
}


@media(max-width: 760px) {
    section {
        padding-top: 10vh;
    }
}